body {
    font-family: helvetica, verdana, arial;
}

.space {
    color: #d2d2d2;
    opacity: 0.3;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    
}

.dashboard {
    width: 100%;
}

.speed-display {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 50px;
    color: darkgrey;
    border: 1px solid darkgrey;
    text-align: middle;
}

.text-target {
    font-size: 40px;
}

.text-target, .text-typed {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
}
