body {
    font-family: "Courier New", helvetica, verdana, arial;
}

.space {
    color: #d2d2d2;
    opacity: 0.3;
}

.correct {

    background-color: #e5e5e5;
}

.incorrect {

    background-color: rgba(255, 0, 0, 0.47);
    
}

.dashboard {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 100px;
    height: 120px;
}

.speed-display, .accuracy-display {
    font-size: 45px;
    color: darkgrey;
    
}

.speed-label, .accuracy-label {
    width: 375px;
}

.speed, .accuracy {
    
}

.text-target {
    clear: both;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    word-wrap: break-word;
}
